@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4><Span><a href="/">Home</a></Span> | <span><a href="/viewchefs">Chefs</a></span> | <span> <a href="/viewdishes">Dishes</a></span> |  <span><a href="/addchef">Add a Chef</a></span> | <span><a href="/adddish">Add A Dish</a></span></h4>
    <h1 class="display-4">Welcome To my Chefs and Dishes Website</h1>
   
</div>
