@{
    ViewData["Title"] = "View Dishes";
}
@model List<Dish>

<div class="text-center">
   <nav>
       <h4><Span><a href="/">Home</a></Span> | <span><a href="/viewchefs">Chefs</a></span> | <span> <a href="/viewdishes">Dishes</a></span> |  <span><a href="/addchef">Add a Chef</a></span> | <span><a href="/adddish">Add A Dish</a></span></h4>
    </nav>
    <h4>Yum!!!! Check out our  tasty Dishes</h4>
<table>

        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Chef</th>
                <th scope="col">Tastiness</th>
                <th scope="col">Calories</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Dish d in Model)
            {
                <tr>
                    <th>@d.DishName</th>
                    <td>@d.Author.FullName()</td>
                    <td>@d.DishTastiness</td>
                    <td>@d.DishCalories</td>
                </tr>
            }
        <tbody>
    </table>
