<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
</head>
<body>
    
    <div id="divtwo">
     <h3><u>Submited Infos</u></h3>
      Name :&nbsp;&nbsp;&nbsp; Muriel Fossi<br><br>
      Dojo Location :&nbsp;&nbsp; San Jose<br><br>
      Favorite Language:&nbsp;&nbsp; C#<br><br>
      Comment :&nbsp;&nbsp; Hi everyone :)<br><br>


      <a href="/"><input id="input2" type="button" value="Go Back"></a>
        
    </div>
</body>
</html>