<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>view Result</title>
</head>
<body>
    
      @*
    
    <div id="divtwo">
     <h3><u>Submited Infos</u></h3>
      Name :&nbsp;&nbsp;&nbsp; Muriel Fossi<br><br>
      Dojo Location :&nbsp;&nbsp; San Jose<br><br>
      Favorite Language:&nbsp;&nbsp; C#<br><br>
      Comment :&nbsp;&nbsp; Hi everyone :)<br><br>


      <a href="/"><input id="input2" type="button" value="Go Back"></a>
        
    @* </div *@

    


    <div id="divtwo">
    <h3><u>Submited Infos</u></h3>
    <div class="one">
            <h3>Name:&nbsp;</h3>
            <p> @ViewBag.UserName</p> 
    </div>
    <div class="two">
        <h3>Dojo Location:&nbsp;</h3>
        <p> @ViewBag.Location</p>
        
    </div>

     <div class="three">
        <h3>Favorite Language:&nbsp; </h3>
        <p>@ViewBag.Language</p>
    </div>

     <div class="four">
        <h3>Comment:&nbsp;</h3>
        <p> @ViewBag.Message</p>
        
    </div>
    <a href="/"><input id="input2" type="button" value="Go Back"></a> 
    @* <button >Go Back</button> le boutton ne vas pas marcher car je ne suis pas entrain de soumettre c'est mieu d'utiliser un lien qui me fait rentrer a l'index*@

</body>
</html>