<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>About Me</title>
</head>
<body id ="body2">
    <header>
        
        <nav id="nav2">
            <a href="/">Home|</a>
            <a href="/projects">Projects|</a>
            <a href="/contact">Contact</a>
        </nav>

        <h1 id="hone">My Projects</h1>
    </header>

    <main>
       <div id="divtwo">
        <div id="div3"> <a href="/project/1"><img src="~/images/matoff1.jpg" alt="muriel" width="220px" height="210" ></a><br>
        <h2>Project 1</h2>
        </div>
        <div id="div4"><a href="/project/2"><img src="~/images/crepe.jpg" alt="crepe" width="200px" height="210" ></a><br>
         <h2>Project 2</h2>
        </div>
         <div id="div5"><a href="/project/3"> <img src="~/images/cloud.jpg" alt="cloud" width="200px" height="210" ></a>
          <h2>Project 3</h2>
         </div>
         
                 
       </div>
       
    </main>
</body>
</html>