<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>About Me</title>
</head>
<body>
    <header>
        
        <nav id="one">
            <a href="/">Home|</a>
            <a href="/projects">Projects|</a>
            <a href="/contact">Contact</a>
        </nav>

        <h1 id="h1">About Me</h1>
    </header>

    <main>
       <div id="divone">
            <img src="~/images/matoff1.jpg" alt="muriel" width="250px" height="210" >
            <p>Muriel Fossi I love to code!</p>
       </div>
       <p id ="two">This is me when i started whith information technology few years ago, i started with cloud enviroment, and today i am a software developper
            i love coding, it is more satisfacting to see the result of an entire web page you build. I will love to be a senior one day in this field.</p>
    </main>
</body>
</html>