
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add your personal Information Here!!!</title>
</head>

    @{
    ViewData["Title"] = "Welcome , order your food with us!!!";

}
<div class="entete1">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg; border-bottom box-shadow mb-3">
            <div class="container-fluid">
               <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FFDelice</a>
                <div class="entete2">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            <a href="/about" class="nav-link text-dark">About</a>
                            <a href="/food/menu"class="nav-link text-dark" >Menu</a>
                            <a href="/contactus"class="nav-link text-dark" >Contact Us</a>
                            <a href="/logout"class="nav-link text-dark" >Logout</a>
                            <a href="/userprofile/adduserprofile" class="nav-link text-dark" ><img class="img1" src="/Image/profile.jfif" alt="Profile"width="40" height="40">Profile  </a>
                </div>
            </div>
        </nav>
</div>
@model UserProfile

<h2>Add your personal Information Here!!!</h2> <br><br>

    
    @* ici, J'apple mes 2 partial qui contienne mes form *@
<div class="see">
  <div>
    <form action="/userprofile/createuserprofile" method="post">
            <section>
            <label asp-for="UserName"> Username:</label>
            <input type="text" name="UserName" value="">
            <span asp-validation-for="UserName"></span>
        </section><br>

        <section>&nbsp;
            <label for="Email">Email:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="email" name="Email" id="" value="">
            <span asp-validation-for="Email"></span>
        </section><br>
 
        </section><br>
                <section>
            <label asp-for="UserAddress"> Address:</label>&nbsp;&nbsp;&nbsp;
            <input type="text" name="UserAddress" value="">
            <span asp-validation-for="UserAddress"></span>
        </section><br>

        <section>
            <label asp-for="UserContact"> Contact:</label>&nbsp;&nbsp;&nbsp;
            <input type="text" name="UserContact" value="">
            <span asp-validation-for="UserContact"></span>
        </section><br>

         <button style="background-color: yellow;">Add </button>
    </form>



  </div>
    <div class="alluserinfos">
        <h5>See your personal information here</h5>
         <a href="/viewalluserinfos">All information</a>

    </div>
</div>
</html>
