<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>DojoSurvey</title>
</head>
<body>
    <form method="post" action="result">
      <div id="divone">
    

        <label> Your Name:</label>
        <input type="text"  name="UserName" /><br><br><br>

        <label>Dojo Location</label>
        <select name="Location" type="text">
             <option value=""></option>
            <option value="San Jose">San Jose</option>
            <option value="Dallas">Dallas</option>
         </select><br><br><br>
        
      

       <label >Favorite Language</label>
        <select name="Language" type="text">
        <option ></option>
        <option>C#</option>
        <option>Javascript</option>
       </select><br><br><br>


         <label>Comment (Optional)</label><br>
        <input id="input1"type="text"  name="Message" /><br><br><br>
        <button  id="input2">Submit</button>

        @* <a href="/result"><input id="input2" type="button" value="Submit(Add user)"></a>   *@
        @* Le submit la est enffet add user to le database a cause de POST *@
    
    </div>
    </form> 
</body>
</html>