<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>DojoSurvey</title>
</head>
<body>
    <div id="divone">
        <label for="name"> Your Name:</label>
        <input type="name"  name="name" /><br><br><br>

        <label for="">Dojo Location</label>
        <select name="">
        <option value="">San Jose</option>
        <option value="">Dallas</option>
       </select><br><br><br>

       <label for="">Favorite Language</label>
        <select name="">
        <option value="">C#</option>
        <option value="">Javascript</option>
       </select><br><br><br>


         <label for="Message">Comment (Optional)</label><br>
        <input id="input1"type="Message"  name="Message" /><br><br><br>
        <a href="/result"><input id="input2" type="button" value="Submit"></a>
    </div>
</body>
</html>