html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.twoform {
  display: flex;
  justify-content: space-between;
}
.twoinfos{
  display: flex;
  justify-content: space-around;
  
  
}
.postinfos{
  width: 250px;
  height: auto;
  border: 5px solid transparent ;
}