<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>My Second html Page</p>
    <nav> <a href="/">index</a></nav>
    
    <h2>@ViewBag.Message</h2>
    @foreach (string Food in ViewBag.Foods)
    {<p>@Food</p>
        
    }
</body>
</html>