@{
    ViewData["Title"] = "Welcome , order your food with us!!!";

}

<div class="entete1">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg; border-bottom box-shadow mb-3">
            <div class="container-fluid">
               <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FFDelice</a>
                <div class="entete2">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </div>
            </div>
        </nav>
</div>








<nav class="center">
   <h2>You can Contact us at anytime , we are here  for you!!!!!</h2>
</nav>

<div class="bar"></div><br><br>

<h5>
    Email : <a href="">fossifamily@gmail.com</a>
</h5>
<h5>  
    Phone numuber: +1 8178816017
    
</h5> 
<h5>
    Website: <a href=""></a>
</h5>