html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* .div1{
  display: flex;
  
  justify-content: space-between;
} */

.div2{ width: fit-content;
    margin: 20px;
}

.div3{ width: fit-content; 
  float: right;
  margin-right: 450px;
  margin-top: -280px;
    }


button{
  height: fit-content;width: fit fit-content;
}

.button{
  display: flex;
  justify-content: space-between;
}
