body{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}


#divone{border:5px solid black;
    width: 400px;
    height: 350px;
    padding: 15px;
    flex-direction: column;
    
}

#input1{height: 50px;width: 200px;

}


#input2{color: white;
    background-color: blue;
    margin-left: 140px;
}

#divtwo{border:5px solid black;
    width: 300px;
    height: 350px;
    padding-left: 50px;
   

}
 .one{
    display: flex;
    
    align-items: center;

 }
  .two{
    display: flex;
    
    align-items: center;
 }
  .three{
    display: flex;
    
    align-items: center;
 }
 .four{
    display: flex;
    
    align-items: center;
 }
 
 