@{
    ViewData["Title"] = "Users";}

    @model List<User>;
    <div class="text-center">
    <h1 class="display-4">Here are some Users!</h1>

       @{
        foreach( User item in Model) {
        <h3>@item.FirstName @item.LastName</h3>}
        }
    
</div>