@{
    ViewData["Title"] = "Add New Dish";
}

@model Dish
<div class="text-center">
   <nav>
       <h4><Span><a href="/">Home</a></Span> | <span><a href="/viewchefs">Chefs</a></span> | <span> <a href="/viewdishes">Dishes</a></span> |  <span><a href="/addchef">Add a Chef</a></span> | <span><a href="/adddish">Add A Dish</a></span></h4>
    </nav>
    <h1>Add a new Chef Here!</h1>
    
</div>
