@* je peux paisiblement apeler mon model UserLogin dont la class s'appell LoginUser icci pour mon form login *@



@model LoginUser
<div class="row">
   
    <form action="/login" method="post">
     <h2>Login</h2><br><br>
        <section>
            <label for="LoginEmail">Email</label>
            <input type="email" name="LoginEmail" id="">
            <span asp-validation-for="LoginEmail"></span>
        </section><br>
        <section>
            <label for="LoginPassword">Password</label>
            <input asp-for="LoginPassword">
            <span asp-validation-for="LoginPassword"></span>
        </section><br>
        <button style="background-color: aquamarine;">Login</button>
    </form>




</div>