
@*  puisque ici je sense avoir le form du registration et le form du login donc je dois appeller 2 model le UserRegmodel et le userloginmodel 
or ce n'est pas possible de le faire dans une meme page html donc je doit utiliser le partials que je vais creer
 dans mon user folder  qui va contenir le form du registration et le form du login(donc 2 partials) *@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fossi Family Delice Website</title>
</head>
<body>
    <header>
      <div class="text-center">
      <h1>Welcome to Fossi Family Delice!!!!!</h1>
      </div>
      <div class="bar"></div><br>
   
    </header>
    <div class="front">
     <h2 class="display-4">Get Started!!!!!</h2> <br>  
    @* ici, J'apple mes 2 partial qui contienne mes form *@
    <main class="twoform">
        @await Html.PartialAsync("_Register")
        @await Html.PartialAsync("_login")
    </main>
    </div>

</body>
</html>